.navbar
  .navbar-menu
    .logo.hide-sm
      a(href="index.html")
        img(src="./assets/img/logo_financoop.svg", alt="logo Financoop")
    ul
      li(class=inicio) 
        a(href="index.html") Inicio
      li(class=nosotros) 
        a(href="nosotros.html") Nosotros
      li(class=creditos) 
        a(href="creditos.html") Créditos
      li(class=ahorros) 
        a(href="ahorros.html") Ahorros
      li(class=beneficios) 
        a(href="beneficios.html") Beneficios
      li(class=noticias) 
        a(href="noticias.html") Noticias
      li(class=contactanos) 
        a(href="contactanos.html") Contáctanos
    .help-bar.hide-md.hide-lg
      a(href="preguntas-frecuentes.html")
        img(src="./assets/icons/icon_msg.svg", alt="icono preguntas frecuentes")
        | Preguntas frecuentes
      a(href="sucursales.html")
        img(src="./assets/icons/icon_location.svg", alt="icono sucursales")
        | Sucursales
      a(href="tel: 800 835 220").a_tel
        img(src="./assets/icons/icon_phone.svg", alt="icono teléfono")
        | 800 835 220
      a(href="")
        img(src="./assets/icons/icon_whatsapp-blue.svg", alt="icono whatsapp")
        | +569 1234 5678
  .gradient-border.hide-sm